@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.one,
.two,
.three,
.four {
    flex: 1;
    padding: 0px 150px;
}

.header {
    display: flex;
    align-items: center;
}

.one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.four {
    display: flex;
    justify-content: center;
}

.header,
.header-content,
.info-title,
.info-container,
.quote,
.quotee,
.call-to-action,
.footer>div {
    max-width: 1200px;
}

.header-logo {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

.push-right {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-content {
    display: flex;
    margin: 50px 0px;
    justify-content: space-between;
    gap: 50px;
}

.header-content-left {
    flex: 1 1 auto;
    width: 50%;
}

.header-content-right {
    flex: 1 1 auto;
    width: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-placeholder {
    color: #F9FAF8;
}

.header-content input[type=button] {
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #3882f6;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
    margin-top: 20px;
}

.call-to-action input[type=button] {
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
    height: 30px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.info-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card>div:first-child {
    border: 2px solid #388ef6;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    align-self: stretch;
}

.info-card>div:last-child {
    text-align: center;
    width: 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-top: 50px;

    /* display: flex;
    align-items: center;
    width: 100%; */
}

.quotee {
    font-weight: bolder;
    text-align: right;
    padding-right: 30px;
    margin-bottom: 50px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 30px 60px;
    margin: 30px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.call-to-action div {
    color: #e5e7eb;
}

.call-to-action>div>div:first-child {
    font-size: 18px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

/* * {
    border: 1px solid red;
} */