@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.one,
.two,
.three,
.four,
.footer {
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
}

.one {
    background-color: #1F2937
}

.three {
    background-color: #e5e7eb;
}

.four {
    background-color: #3882f6;
}

.header-logo {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

.push-right {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

input[type=button] {
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-card {
    border: 2px solid #388ef6;
    border-radius: 8px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotee {
    font-weight: bold;
}

.footer {
    background-color: #1F2937
}